{% extends "layout.html" %}
{% block pageTitle %}
  Upload a document to Companies House
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">Upload a document to Companies House
      </h1>
      <p class="govuk-body-l">This guide is for companies that need to file a dissolution, incorporation, liquidation or shares document online that would usually be sent to us in a paper format.
      </p>
      {{ govukInsetText({
        text: "This guidance has been created for the interim service to enable paperless filing in response to the coronavirus (COVID-19) outbreak."
      }) }}
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-bottom-3">
      <p class="govuk-body-s govuk-!-margin-bottom-1">Published 8 April 2020</p>
      <p class="govuk-body-s">From:
        <a class="govuk-link govuk-!-font-weight-bold" href="https://www.gov.uk/government/organisations/companies-house">Companies House</a>
      </p>
      <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>
          <a class="govuk-link govuk-body-s" href="">Contents title</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">Contents title</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">Contents title</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">Contents title</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">Contents title</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}