{% extends "layout.html" %}
{% block pageTitle %}
  Shortcuts
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        {% if serviceName %}
          {{ serviceName }}
          (prototype)
          <span class="govuk-caption-xl">(June 2020)</span>
        {% endif %}
      </h1>

      <h2 class="govuk-heading-m">Shortcuts</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="start">
            Start
          </a>
        </li>
        <li>
          <a href="company-number">
            Company number
          </a>
        </li>
        <li>
          <a href="confirm-company">
            Confirm company
          </a>
        </li>
        <li>
          <a href="auth-screen">
            Authentication
          </a>
        </li>
        <li>
          <a href="filing-history">
            Filing history
          </a>
        </li>

      </ul>

      <p>
        <a href="accessibility-statement">Accessibility statement</a>
      </p>

      <p>
        <a href="/public/images/user-journey.png">Overview of the user journey</a>
      </p>

    </div>
  </div>

{% endblock %}