{% extends "layout.html" %}
{% block pageTitle %}
  Shortcuts
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        {% if serviceName %}
          {{ serviceName }}
          (prototype)
          <span class="govuk-caption-xl">(June 2020)</span>
        {% endif %}
      </h1>

      <h2 class="govuk-heading-m">Shortcuts</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="start">
            Start
          </a>
        </li>

        <li>
          <a href="company-number">
            What is the company number?
          </a>
        </li>
        <li>
          <a href="confirm-company">
            Confirm this is the correct company
          </a>
        </li>
        <li>
          <a href="sign-in">
            Sign in to Companies House
          </a>
        </li>
        <li>
          <a href="company-authentication">
            Company authentication
          </a>
        </li>
        <li>
          <a href="view-correspondence">
            View correspondence
          </a>
        </li>

      </ul>

      <p>
        <a href="accessibility-statement">Accessibility statement</a>
      </p>

      <p>
        <a href="/public/images/view-correspondence-user-journey.png">Overview of the user journey</a>
      </p>

    </div>
  </div>

{% endblock %}