{% extends "layout.html" %}
{% block pageTitle %}
  View correspondence
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "company-authentication"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">SC393288</span>
      <h1 class="govuk-heading-xl">ZLC LTD</h1>
      <p class="govuk-body">You can order correspondence by date or description.</p>
  </ul>
  {{ govukTable({
        head: [
{
html: " <a href='' class='sort'>Date</a>"
},
{
html: " <a href='' >Description</a>"
},
{
text: "View / Download"
}
        ],
        rows: [
          [
            {
              text: "31 August 2020"
            },
            {
              text: "Director's appointment letter"
            },
            {
              html: "<a href='public/pdf/5.pdf' target=_blank'>View PDF<span class='govuk-visually-hidden'> of Directors appointment letter - link opens in a new window  - 2 pages</span></a> (2 pages)"
            }
          ],
          [
            {
              text: "6 June 2020"
            },
            {
              text: "Authentication code letter"
            },
            {
              html: "<a href='public/pdf/6.pdf' target=_blank'>View PDF<span class='govuk-visually-hidden'> of Authentication code letter - link opens in a new window  - 1 page</span></a> (1 page)"
            }
          ],
          [
            {
              text: "29 April 2020"
            },
            {
              text: "Overdue CS01 letter"
            },
            {
              html: "<a href='public/pdf/4.pdf' target=_blank'>View PDF<span class='govuk-visually-hidden'> of incorrect director resignation (reject letter)- link opens in a new window  - 3 pages</span></a> (3 pages)"
            }
          ],
          [
            {
              text: "28 April 2020"
            },
            {
              text: "Reject letter - incorrect form"
            },
            {
              html: "<a href='public/pdf/1.pdf'target=_blank'>View PDF<span class='govuk-visually-hidden'> of incorrect form (rejection letter)- link opens in a new window  - 1 page</span></a> (1 page)"
            }
          ],
          [
            {
              text: "28 April 2020"
            },
            {
              text: "Reject letter - missing date"
            },
            {
              html: "<a href='public/pdf/3.pdf' target=_blank'>View PDF<span class='govuk-visually-hidden'> of FES Reject Letter (missing date) - link opens in a new window  - 1 page</span></a> (1 page)"
            }
          ],

          [
            {
              text: "28 April 2020"
            },
            {
              text: "Reject letter - incorrect company name"
            },
            {
              html: "<a href='public/pdf/2.pdf'target=_blank'>View PDF<span class='govuk-visually-hidden'> of FES Reject Letter (incorrect company name) - link opens in a new window  - 2 pages</span></a> (2 pages)"
            }
          ]
        ]
      }) }}
  <p class="govuk-body">Remember to sign out to keep your information secure.</p>
  {{ govukButton({
        text: "Sign out",
        href: "/"
      }) }}
</div>
</div>
{% endblock %}