{% extends "layout.html" %}
{% block pageTitle %}
  View correspondence
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "auth-screen"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Company number: SC393288</span>
      <h1 class="govuk-heading-xl">ZLC LTD</h1>
      {{ govukTable({
        head: [

{
html: " <a href='' class='sort'>Date</a>"
},
{
html: " <a href='' >Description</a>"
},
{
html: " <a href=''>View / Download</a>"
}
        ],
        rows: [
          [
            {
              text: "31 Aug 2019"
            },
            {
              text: "Directors appointment letter"
            },
            {
              html: "<a href='public/pdf/5.pdf' target=_blank'>View PDF</a><span class='govuk-visually-hidden'> of Directors appointment letter</span> (2 pages)"
            }
          ],
          [
            {
              text: " 28 Feb 2019 "
            },
            {
              text: "Authentication code letter"
            },
            {
              html: "<a href='public/pdf/6.pdf' target=_blank'>View PDF</a><span class='govuk-visually-hidden'> of Authentication code letter</span> (1 page)"
            }
          ],
          [
            {
              text: " 28 Feb 2019 "
            },
            {
              text: "incorrect form (reject letter)"
            },
            {
              html: "<a href='public/pdf/1.pdf'target=_blank'>View PDF</a><span class='govuk-visually-hidden'> of incorrect form (rejection letter)</span> (1 page)"
            }
          ],
          [
            {
              text: " 28 Feb 2019 "
            },
            {
              text: "incorrect director resignation (reject letter)"
            },
            {
              html: "<a href='public/pdf/4.pdf' target=_blank'>View PDF</a><span class='govuk-visually-hidden'> of incorrect director resignation (reject letter)</span> (3 pages)"
            }
          ],
          [
            {
              text: " 28 Feb 2019 "
            },
            {
              text: "FES Reject Letter (missing date)"
            },
            {
              html: "<a href='public/pdf/3.pdf' target=_blank'>View PDF</a><span class='govuk-visually-hidden'> of FES Reject Letter (missing date)</span> (1 page)"
            }
          ],
          [
            {
              text: " 28 Feb 2019 "
            },
            {
              text: "FES Reject (wrong version of form)"
            },
            {
              html: "<a href='public/pdf/6.pdf' target=_blank'>View PDF</a><span class='govuk-visually-hidden'> of FES Reject (wrong version of form)</span> (1 page)"
            }
          ],
          [
            {
              text: " 28 Feb 2019 "
            },
            {
              text: "FES Reject Letter (incorrect company name)"
            },
            {
              html: "<a href='public/pdf/2.pdf'target=_blank'>View PDF</a><span class='govuk-visually-hidden'> of FES Reject Letter (incorrect company name)</span> (2 pages)"
            }
          ]
        ]
      }) }}
      {{ govukButton({
        text: "Sign out",
        href: "/"
      }) }}
    </div>
  </div>
{% endblock %}